<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? and !current_user?(user) %>
    | <%= link_to "delete", user_path(user), method: :delete, 
                                           data: {confirm: "You sure?"} %>
  <% end %>
</li>