<div class="center jumbotron">
  <h1 font-size: medium>Welcome to My Twitter</h1>
<!--
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
--><br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%#= link_to image_tag("rails2.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%#= link_to image_tag("kitten.jpg", alt: "Rails logo"), 'http://rubyonrails.org/' %> 