<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <br>
  <span class="micropost">
    <%= micropost.content %>
    <br>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago. 
    <% if current_user?(micropost.user) %>
      <%= link_to "edit", edit_micropost_path(micropost) %>
      <%= link_to "delete", micropost_path(micropost), method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>