<% provide(:title, 'Edit micropost') %>
<h1>Update micropost</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@micropost, url: micropost_path, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_area :content, placeholder: @micropost.content %>  
      </div>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div> 

